<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="well">

    <h1>Upcoming Chores</h1>
    <div id='calendar'></div>
    <p><%= link_to "Add Chore &raquo;".html_safe, new_chore_path, class: "btn btn-primary btn-large", style: "color: white" %></p>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Money You Owe</h2>
       <% @debtees.each do |debtee| %>
       <%= debtee.name %>: <%= number_to_currency(debtee.balance_with(@cur_res)) %> <br />
       <% end %>
    </div>
    <div class="span4">
      <h2>Money You're Owed</h2>
       <% @debtors.each do |debtor| %>
       <%= debtor.name %>: <%= number_to_currency(@cur_res.balance_with(debtor)) %> <br />
       <% end %>
   </div>
    <div class="span4">
      <h2>My Offers</h2>
      <table class="table">
      <% @my_offers.each do |o| %>
      <tr><td><%= o.chore_instance.chore.name %></td> <td>Price: <%= number_to_currency(o.price) %></td></tr>
      <% end %>
      </table>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Roomies 2012</p>
  </footer>

</div> <!-- /container -->




<script type='text/javascript'>

  $(document).ready(function() {
  
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    var calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: ''
      },
      defaultView: 'basicWeek',
      disableDragging: 'true',
      editable: true,
      height: 200,
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        var title = prompt('Event Title:');
        if (title) {
          calendar.fullCalendar('renderEvent',
            {
              title: title,
              start: start,
              end: end,
              allDay: allDay
            },
            true // make the event "stick"
          );
        }
        calendar.fullCalendar('unselect');
      },
      eventClick: function(calEvent, jsEvent, view) {
        var eventModal = document.getElementById('myModal');
        var modalHeader = document.getElementById('myModalHeader');
        var modalBody = document.getElementById('myModalBody');
        var eventName = calEvent.title;
        modalHeader.innerHTML = eventName;
        $('#myModal').show()
        $('#myModal .modal-body').load("/chore_instances/" + calEvent.id + "/popup?" + Math.random())
        
        $(this).css('border-color', 'red');
      },
      events: [
      <% ChoreInstance.all.each do |ci| %>
        {
          title: "<%= ci.chore.name %>",
          id: <%= ci.id %>,
          start: new Date(<%= ci.start_date.year %>, <%= ci.start_date.month-1 %>, <%= ci.start_date.day %>),
          end: new Date(<%= ci.end_date.year %>, <%= ci.end_date.month-1 %>, <%= ci.end_date.day %>),
          allDay: true
        },
      <% end %>
      /*
        {
          title: 'Dishes',
          start: new Date(y, m, 1),
          allDay: true
        },
        {
          title: 'Dishes',
          start: new Date(y, m, d-5),
          end: new Date(y, m, d-2),
          allDay: true
        },
        {
          id: 999,
          title: 'Dishes',
          start: new Date(y, m, d-3, 16, 0),
          allDay: true
        },
        {
          id: 999,
          title: 'Clean Toilet',
          start: new Date(y, m, d+4, 16, 0),
          allDay: true
        },
        {
          title: 'Vacuum',
          start: new Date(y, m, d, 10, 30),
          allDay: true
        },
        {
          title: 'Dishes',
          start: new Date(y, m, d, 12, 0),
          end: new Date(y, m, d, 14, 0),
          allDay: true
        },
        {
          title: 'Garbage',
          start: new Date(y, m, d+1, 19, 0),
          end: new Date(y, m, d+1, 22, 30),
          allDay: true
        }
        */
      ]
    });
    
  });

</script>
<style type='text/css'>

  #calendar {
    width: 900px;
    margin: 20px auto;
    }

</style>
<a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>
<div id="myModal" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 id="myModalHeader">Modal header</h3>
  </div>
  <div class="modal-body">
    <p id="myModalBody">One fine body…</p>
  </div>
  <div class="modal-footer">
    <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
    <a href="#" class="btn btn-primary" data-dismiss="modal" onClick="$('#myModal').hide()">Close</a>
  </div>
</div>
