<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">

    <h1>Hello, <%= current_user.email %>!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><%= link_to "Add Chore &raquo;".html_safe, new_chore_path, class: "btn btn-primary btn-large", style: "color: white" %></p>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Money You Owe</h2>
       <% @debtees.each do |debtee| %>
       <%= debtee.name %>: <%= number_to_currency(debtee.balance_with(@cur_res)) %> <br />
       <% end %>
    </div>
    <div class="span4">
      <h2>Money You're Owed</h2>
       <% @debtors.each do |debtor| %>
       <%= debtor.name %>: <%= number_to_currency(@cur_res.balance_with(debtor)) %> <br />
       <% end %>
   </div>
    <div class="span4">
      <h2>Chores for Sale</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>

</div> <!-- /container -->
