<h1>Listing users</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', admin_user_path(user), class: "btn" %> <%= link_to 'Edit', edit_admin_user_path(user), class: "btn" %> <%= link_to 'Destroy', admin_user_path(user), class: "btn btn-danger", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>
