<h1>Listing chore_instances</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chore_instances.each do |chore_instance| %>
  <tr>
    <td><%= chore_instance.price %></td>
    <td><%= chore_instance.start %></td>
    <td><%= chore_instance.end %></td>
    <td><%= link_to 'Show', chore_instance %></td>
    <td><%= link_to 'Edit', edit_chore_instance_path(chore_instance) %></td>
    <td><%= link_to 'Destroy', chore_instance, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chore instance', new_chore_instance_path %>
