<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @chore_instance.price %>
</p>

<p>
  <b>Start:</b>
  <%= @chore_instance.start %>
</p>

<p>
  <b>End:</b>
  <%= @chore_instance.end %>
</p>


<%= link_to 'Edit', edit_chore_instance_path(@chore_instance) %> |
<%= link_to 'Back', chore_instances_path %>
